html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
button,
input,
select table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  background: #1e213b;
  font-family: "microsoft yahei";
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.mr {
  margin-right: 10px;
}
.vtop {
  vertical-align: top;
}
.default-div {
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide {
  display: none;
}
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
img {
  display: block;
  width: 100%;
}
/*颜色*/
.color-default {
  color: #00a2ff;
}
.color-primary {
  color: #ffae00;
}
.color-negative {
  color: rgba(255, 255, 255, 0.5);
}
.icon-manyidu {
  font-size: 24px;
  color: #ffae00;
}
.icon-manyi {
  font-size: 24px;
  color: #ffae00;
}
/*下拉框*/
select.form-control {
  background: none;
  border: none;
  color: #fff;
}
option {
  background: #21294c;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mask-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  filter: alpha(opacity=50);
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.mask-container {
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  text-align: center;
  background: #fff;
  z-index: 1000;
  border-radius: 5px;
}
/*header*/
.header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 60px;
  color: #fff;
  background: #21294c;
  overflow: hidden;
}
.header .logo-wrapper {
  float: left;
  width: 160px;
  height: 60px;
  background: #00a2ff;
}
.header .logo-wrapper img {
  margin: 16px auto;
  width: 54px;
  height: 25px;
}
.header .nav-top-wrapper {
  float: left;
  overflow: hidden;
  padding: 10px 0;
}
.header .nav-top-wrapper li {
  float: left;
  margin: 0 40px;
  line-height: 40px;
}
.header .nav-top-wrapper li.active {
  border-bottom: 2px solid #ffae00;
}
.header .nav-top-wrapper li.active a {
  color: #00a2ff;
}
.header .user-wrapper {
  float: right;
  height: 60px;
  line-height: 60px;
}
.header .user-wrapper .btn-default {
  margin-top: -4px;
  margin-right: 10px;
}
.header-right {
  float: right;
  width: 560px;
  overflow: hidden;
}
.menu-wrapper {
  position: relative;
  top: -60px;
  z-index: 9;
  width: 160px;
  height: 100%;
  padding-top: 60px;
  color: #fff;
  background: #21294c;
}
.menu-wrapper li {
  line-height: 60px;
  text-align: center;
}
.menu-wrapper li a {
  display: block;
  padding-left: 20px;
}
.menu-wrapper li.active a {
  color: #00a2ff;
  background: #1e213b;
}
.menu-wrapper li .iconfont {
  position: absolute;
  left: 46px;
}
.icon-sousuo {
  color: #fff;
}
.icon-weixuan,
.icon-xuanze {
  color: #00a2ff;
}
.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px 20px 0 180px;
  width: 100%;
  height: 100%;
}
.radius {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
/*按钮*/
.btn,
.btn:hover {
  color: #232a4f;
}
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:visited {
  color: #00a2ff;
  background: none;
  border: none;
}
.btn-primary {
  background: #00a2ff;
  border: none;
}
.btn-warning {
  background: #ffae00;
  border: none;
}
.btn-info {
  background: #ee1b59;
  border: none;
}
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
  background: #ee1b59;
  border: none;
}
.pagination > li.active span {
  color: #fff;
  background: #00a2ff !important;
}
.pagination > li.active a {
  color: #fff;
  background: #00a2ff !important;
}
.pagination a,
.pagination span {
  margin: 0 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  color: rgba(255, 255, 255, 0.8) !important;
  background: #21294c !important;
  border: none!important;
  cursor: pointer;
}
.row,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
input[type=file] {
  display: none;
}
textarea {
  width: 100%;
  height: 120px;
  color: #fff;
  background: #4b5384;
  resize: none;
  border: none;
}
.section {
  overflow: hidden;
}
.section .section-item {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background: #21294c;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.section .section-item.active {
  background: #414b81;
}
.section .section-item .title {
  font-size: 14px;
}
.section .section-item .num {
  font-size: 28px;
  color: #ffae00;
}
@media (min-width: 1200px) {
  .section-5 .col-lg-3 {
    width: 20%;
  }
}
.textarea-wrapper {
  margin-top: 10px;
}
.textarea-wrapper .textarea-content {
  position: relative;
}
.textarea-wrapper .textarea-content .tips {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.textarea-wrapper .btn-primary {
  width: 80px;
}
/*两列列表*/
.list-item {
  margin-bottom: 10px;
  padding: 20px;
  background: #21294c;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
}
.list-item .list-item-1 .name {
  font-size: 16px;
  color: #00a2ff;
  font-weight: bold;
}
.list-item .list-item-1 .name .iconfont {
  margin-left: 6px;
  color: #ffae00;
}
.list-item .list-item-2 {
  margin-top: 10px;
}
.list-item .list-item-3 {
  float: right;
  margin-top: 10px;
}
/*表格*/
.ui-table-header {
  margin-bottom: 10px;
  padding: 0 10px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.ui-table-header {
  color: rgba(255, 255, 255, 0.3);
}
.ui-table-header select.form-control {
  padding: 0;
  width: 90px;
}
.ui-table-header select {
  margin-top: 2px;
  margin-left: -6px;
}
.ui-table-header .col-one {
  text-align: right;
  padding-right: 60px;
}
.ui-table-header .col-two {
  text-align: right;
  padding-right: 74px;
}
.ui-table-header,
.ui-table-tr,
.ui-record-tr {
  background: #21294c;
}
.ui-table-tr {
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.ui-table-tr .btn {
  width: 80px;
}
.table-multi-line .ui-table-tr {
  line-height: 18px;
}
.table-multi-line .ui-table-tr > div {
  margin-top: 18px;
}
/*记录列表*/
.ui-record {
  padding: 10px;
  margin-bottom: 10px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.ui-record .ui-record-tr {
  line-height: 28px;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.record-list {
  padding: 20px;
  line-height: 23px;
}
.record-list span {
  display: inline-block;
  margin: 0 20%;
}
/*模态框*/
.modal-content {
  overflow: hidden;
}
.modal-nofooter .modal-body {
  padding: 15px 15px 44px;
}
.modal-body {
  color: #333;
}
.modal-header {
  color: #fff;
  background: #00a2ff;
  text-align: center;
  border-bottom: none;
}
.modal-header .iconfont {
  font-size: 20px;
}
.modal-header button {
  position: absolute;
  right: 28px;
  font-size: 20px;
  top: 12px;
  right: 14px;
}
.modal-header.notitle {
  background: none;
}
.modal-header.notitle button {
  top: 4px;
  color: #00a2ff;
}
.modal-dialog {
  position: absolute;
  margin: 0;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.modal-footer {
  border: none;
  text-align: center;
}
.modal-footer .btn-primary {
  width: 86%;
}
.modal-body .form-control {
  color: #333;
}
.modal-body option,
.modal-body textarea {
  background: none;
}
.modal-body textarea {
  color: #333;
  border: 1px solid #ddd;
}
.modal-body table {
  color: #333;
}
/*路径导航*/
.breadcrumb {
  margin: 0;
  color: #00a2ff;
  background: #1e213b;
}
.breadcrumb .active {
  color: #00a2ff;
}
.breadcrumb > li + li:before {
  content: '';
  padding: 0;
}
/*图表*/
.chart-wrapper,
.info-wrapper {
  height: 290px;
  padding: 10px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 10px;
}
.chart-wrapper select,
.info-wrapper select {
  width: 96px;
}
.chart-header {
  height: 40px;
  line-height: 40px;
}
.chart-title {
  font-size: 14px;
  color: #fff;
}
.btn-select {
  display: inline-block;
  padding: 0 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.btn-select.active {
  background: #00a2ff;
}
.search-wrapper {
  position: relative;
  height: 30px;
  margin: 16px 60px 12px 0;
  border: 1px solid #374068;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.search-wrapper:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 84px;
  width: 0;
  height: 16px;
  border-right: 1px solid #374068;
}
.search-wrapper .form-control {
  display: inline-block;
  padding: 0;
  padding-left: 4px;
  width: 80px;
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}
.search-wrapper input {
  width: 210px;
  padding: 0 4px;
}
.search-wrapper .btn {
  width: 50px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  margin-top: -3px;
  margin-right: -1px;
}
/*弹出提示框*/
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.mask-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  filter: alpha(opacity=40);
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.mask-container {
  min-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 20px 50px;
  color: #333;
  font-size: 14px;
  text-align: center;
  background: #fff;
  z-index: 1000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
/*提示框*/
.modal-tip {
  text-align: center;
}
.modal-tip .modal-header {
  background: #ee1b59;
}
.modal-tip li {
  line-height: 22px;
}
/*区域滚动*/
.zUIpanelScrollBox,
.zUIpanelScrollBar {
  width: 10px;
  top: 4px;
  right: 2px;
  border-radius: 5px;
}
.zUIpanelScrollBox {
  background: #ddd;
}
.zUIpanelScrollBar {
  background: #999;
}
.info-operation {
  margin-top: 24px;
  text-align: right;
}
.info-img {
  margin-right: 26px;
  width: 70px;
  height: 70px;
}
.info-name {
  margin-bottom: 10px;
  font-size: 16px;
}
.info-name .color-primary {
  font-size: 12px;
}
.info-name .iconfont {
  font-size: 20px;
}
.info-wrapper {
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px 40px 20px;
}
.info-wrapper .name {
  display: inline-block;
  text-align-last: justify;
}
.info-wrapper i {
  margin: 0 4px;
}
.info-wrapper p {
  line-height: 20px;
}
.info-wrapper .info-datails {
  color: rgba(255, 255, 255, 0.8);
}
.select-wrapper .select-item {
  display: inline-block;
  margin-right: 60px;
}
.select-wrapper .select-item select.form-control {
  margin-right: 0;
  font-size: 12px;
}
.select-wrapper .btn-default {
  margin-top: 10px;
}
.select-wrapper .form-inline {
  padding: 10px 14px;
  margin-bottom: 10px;
  background: #21294c;
}
.select-wrapper .form-inline label {
  color: #00a2ff;
  vertical-align: sub;
}
.select-wrapper select.form-control {
  margin-right: 30px;
}
.policy-wrapper {
  padding: 40px 30px;
  height: 640px;
  line-height: 20px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.policy-wrapper .policy-info {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.5);
}
.policy-wrapper .title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #00a2ff;
  font-weight: bold;
}
.policy-wrapper .policy-list {
  display: inline-block;
  text-align: left;
}
.policy-wrapper .name {
  display: inline-block;
  width: 66px;
  color: rgba(255, 255, 255, 0.5);
  text-align-last: justify;
}
.policy-wrapper i {
  display: inline-block;
  margin-right: 60px;
  color: rgba(255, 255, 255, 0.5);
}
.policy-wrapper .duty-list {
  display: inline-block;
  width: 260px;
}
.policy-wrapper .duty-name {
  display: inline-block;
  width: 100px;
}
.policy-wrapper a {
  color: #00a2ff;
  text-decoration: underline;
}
.modal-alert {
  text-align: center;
}
.modal-alert .icon-warning {
  font-size: 42px;
  color: #ffae00;
}
.modal-alert .icon-duihao {
  font-size: 42px;
  color: #00a2ff;
}
.modal-alert p {
  color: #616161;
}
.modal-footer .btn {
  width: 80px;
}
.modal-footer .btn + .btn {
  margin-left: 20px;
}
.modal-footer .color-default {
  margin-left: 40px;
}
.modal-footer .color-primary:hover {
  color: #00a2ff;
}
.modal-footer .color-default:hover {
  color: #00a2ff;
}
/*标签*/
.tag {
  padding: 2px 10px;
  margin-right: 10px;
  background: #e4ebee;
  color: #000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.datetimepicker {
  color: #333;
}
/*选择日期*/
.form_date {
  width: 86px;
}
.form_date .form-control {
  padding: 0;
  font-size: 12px;
  text-align: center;
}
.form_date .form-control,
.form_date .input-group-addon {
  background: none;
  border: none;
  color: #fff;
}
.form_date .input-group-addon {
  padding: 0;
}
.form_date .glyphicon-calendar {
  color: #ffae00;
}
#addTask .modal-dialog {
  width: 400px;
}
#addTask .modal-body {
  padding: 20px 56px 40px;
}
#addTask .modal-body li {
  margin-bottom: 10px;
}
#addTask .modal-body input {
  width: 108px;
  padding: 6px;
  height: 24px;
  margin-right: 4px;
  border: 1px solid #ddd;
}
#addTask .modal-body .name {
  display: inline-block;
  width: 86px;
  margin-right: 20px;
  text-align: right;
}
#addTask .form-control {
  margin-left: -4px;
  padding: 0;
  display: inline-block;
  width: 108px;
}
.modal-borkerage {
  width: 400px;
}
.modal-borkerage tr {
  line-height: 30px;
}
.modal-borkerage th {
  color: #00a2ff;
}
.modal-borkerage input {
  padding: 0 4px;
  width: 50px;
  height: 20px;
  border: 1px solid #ddd;
}
.modal-borkerage .modal-body {
  text-align: left;
  padding: 10px 30px;
}
/*填写愿意模态框*/
.modal-cause {
  width: 600px;
}
.modal-cause .cause-wapper {
  width: 440px;
  margin: 0 auto 45px;
  text-align: left;
  overflow: hidden;
}
.modal-cause .cause-wapper textarea {
  margin: 10px 0;
  height: 60px;
}
.modal-cause .cause-wapper .btn {
  float: right;
  width: 80px;
}
/*评价列表*/
.comment-section {
  padding: 20px;
  margin-bottom: 10px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.comment-section .comment-info {
  line-height: 20px;
  overflow: hidden;
}
.comment-section .comment-label {
  margin: 14px 0 20px 0;
}
.comment-section .comment-label span {
  margin-right: 6px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #00a2ff;
  border: 1px solid #00a2ff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.comment-section .comment-content {
  overflow: hidden;
}
.comment-section .comment-text {
  padding-left: 36px;
}
