---
layout: page
title: "About"
description: "梦想还是要有的，万一实现了呢？"
header-img: "img/about-bg-img.jpg"
multilingual: true
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote>
        <p>
            冰冻三尺 非一日之寒
            <br>
            积土成山 非斯须之作
        </p>
    </blockquote>


     <p>
        Hey，我是<strong>王石磊(fsoooo)</strong>，进化程度不明，多出没于
        <a href="https://weibo.com/fsoooo">微博</a>、
        <a href="https://www.zhihu.com/people/fsoooo/pins/posts">知乎</a>、
        <a href="https://www.jianshu.com/u/910c6f95a495">简书</a>、
        <a href="http://github.com/fsoooo">Github</a>、
        <a href="https://twitter.com/fstoooo/">Twitter</a>
        等地带，绝招尚在开发中。
    </p>

    <p>职业是软件工程师，工作从帝都换到了天津，目前在任职于
        <a href="https://www.ccccit.com.cn"><b>『中交智运有限公司』</b></a>。
        <br/>曾在<a href="https://www.venustech.com.cn/"><b> 『北京启明星辰信息安全技术有限公司』</b></a>
        <a href="https://www.innfotech.com/"><b> 『北京智驿信息技术有限责任公司』 </b></a>和<b>『北京天眼互联科技有限公司』</b>任职。</p>
    <p>工作、学习之余，我还是一个摄影爱好者，同时也非常篆刻和健身。</p>

    <h5>Professional Skills</h5>
    <ul>
        <li>后端开发：PHP/Java/Golang</li>
        <li>PHP框架：Laravel/ThinkPHP/CodeIgniter/Yii/Swoole</li>
        <li>数据库相关：MySQL/主从复制/读写分离/分库分表/SQL优化/大数据处理</li>
        <li>NoSql相关: Redis/Memecached/MongoDB</li>
        <li>Linux相关：LAMP/LNMP编译安装/负载均衡/反向代理/并发优化/守护进程/看门狗</li>
        <li>前端开发：Vue/Angular/React/微信小程序</li>
        <li>版本管理和自动化部署工具：Git/Svn/Composer/Jenkins</li>
        <li>单元测试：PHPUnit/SimpleTest</li>
        <li>语言相关：英语有良好的读写能力（CET-4）</li>
        <li>网络协议相关：HTTP/HTTPS/RPC</li>
        <li>其他：BurpSuite爆破、渗透测试/Apache压力测试/Shell脚本/SQL注入/命令行注入</li>
        <li>学习计划：Go/Python，近期在学习Go和Lua脚本</li>
        <li>邮箱：fsoooo@126.com</li>
    </ul>

    <h5>Personal Evaluation</h5>
    <p>
        6年WEB开发经验，有扎实的编程基础和业务梳理能力，能独立完成WEB应用的开发和维护；<br/>
        有良好的代码编程习惯及及较强的文档编写、阅读能力，有较高的编程职业素养和规范。<br/><br/>

        3年的团队管理经验，做过多个业务产线和项目的负责人，熟悉常见的业务处理，项目管理经验丰富，能领导、协助团队完成任务；<br/>
        对工作尽职尽责，能承受较大的工作的压力，乐于从事有挑战性的工作。有很强的工作责任感，工作效率比较高，<br/>
        能合理安排工作分工和时间周期，高效快速完成领导安排的任务；<br/>
        有很强的团队合作精神，能快速融入团队，乐于与用户以及同事和领导沟通，能快速解决项目遇到的问题。<br/><br/>

        3年以来，一直从事信息安全行业，多次参加护网行动和保密项目的开发维护，有较强的安全保密意识和安全防范经验；<br/>
        参加过多次保密审查和保密教育培训，成绩优异，获得过保密教育培训证书。<br/>
        解决问题能力强，能快速定位问题，给出解决方案，保障项目的正常运行；多次独立出差解决现场问题，能较好的解决满足客户的需求。<br/>
        拥有 Geek 精神，热爱开源，逻辑思维能力强，思路清楚，学习能力强，对新技术有着强烈的好奇心。<br/>
    </p>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render() {
        var _hash = window.location.hash;
        // en
        if (_hash == "#en") {
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        } else {
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index) {
        if (index == 0) {
            window.location.hash = "#zh"
        } else {
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->
<!--<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>-->

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{site.gitalk.clientID}}',
        clientSecret: '{{site.gitalk.clientSecret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: {
    {
        site.gitalk.distractionFreeMode
    }
    },
    id: 'about',
    })
    ;
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

