.ui-table-tr {
  line-height: 32px;
}
.modal-change {
  line-height: 30px;
}
.modal-change .modal-body,
.modal-change .modal-footer {
  width: 80%;
  margin: 0 auto;
}
.modal-change .modal-body {
  margin: 25px auto 80px;
}
.modal-change .modal-footer {
  padding-bottom: 90px;
}
.modal-change .btn {
  width: 100%;
}
/*个人信息页面*/
.info .chart-wrapper,
.info .info-wrapper {
  height: 238px;
}
.info .info-operation {
  margin-top: 26px;
}
.info .name {
  width: 72px;
}
.info-person .name {
  width: 50px;
}
.info-person .info-operation {
  margin-top: 40px;
}
/*保单详情页面*/
.policy-wrapper {
  padding: 40px 30px;
  height: 640px;
  line-height: 20px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center;
}
.policy-wrapper .policy-info {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.5);
}
.policy-wrapper .title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #00a2ff;
  font-weight: bold;
}
.policy-wrapper .policy-list {
  display: inline-block;
  text-align: left;
}
.policy-wrapper .name {
  display: inline-block;
  width: 66px;
  color: rgba(255, 255, 255, 0.5);
  text-align-last: justify;
}
.policy-wrapper i {
  display: inline-block;
  margin-right: 60px;
  color: rgba(255, 255, 255, 0.5);
}
.policy-wrapper .duty-list {
  display: inline-block;
}
.policy-wrapper .duty-name {
  display: inline-block;
  width: 100px;
}
.policy-wrapper a {
  color: #00a2ff;
  text-decoration: underline;
}
.policy .info-wrapper {
  position: relative;
  padding-top: 28px;
  height: 114px;
  transition: all .4s;
}
.policy .info-wrapper.active {
  height: 200px;
}
.policy .info-wrapper.active .info-datails {
  display: block;
}
.policy .info-wrapper.active .icon-zhankai {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-left: -6px;
}
.policy .info-wrapper .info-name {
  margin-top: 16px;
}
.policy .info-wrapper .info-datails {
  display: none;
}
.policy .info-wrapper .btn {
  position: absolute;
  top: 20px;
  right: -10px;
}
.policy .info-wrapper .icon-zhankai {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;
  font-size: 18px;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  cursor: pointer;
}
.policy .record,
.policy .record-list {
  padding: 0 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.policy .record {
  height: 40px;
  line-height: 40px;
}
.policy .record-list {
  padding: 20px;
  line-height: 23px;
}
.policy .record-list span {
  display: inline-block;
  margin: 0 20%;
}
/*实名资料*/
.autonym .title {
  font-size: 14px;
  margin-bottom: 10px;
}
.autonym .certificate img {
  display: inline-block;
  width: 168px;
  height: 106px;
}
.autonym .certificate .btn-default {
  margin-left: 20px;
  color: #00a2ff;
  vertical-align: bottom;
}
.autonym .img-wrapper {
  display: inline-block;
  margin-bottom: 10px;
}
.autonym .standard {
  margin: 20px 0 30px;
}
.autonym .standard li {
  margin-left: 30px;
  line-height: 24px;
}
.autonym .operation .btn {
  width: 210px;
  height: 40px;
}
.autonym .operation .btn + .btn {
  margin-left: 20px;
}
#larger .modal-dialog {
  width: 600px;
}
