.percent {
  margin-left: 4px;
}
#product .ui-table-tr {
  line-height: 32px;
}
#product .ui-table .iconfont {
  font-size: 20px;
}
.ui-table-footer .btn {
  width: 120px;
  height: 40px;
}
/*产品详情*/
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 20%;
  }
}
.premium,
.rate,
.grade,
.cause {
  padding: 20px;
  margin-bottom: 10px;
  background: #21294c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
}
.premium {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.rate li {
  margin-bottom: 4px;
}
.cause {
  padding-bottom: 70px;
}
.cause-text {
  padding-left: 65px;
}
.rate-total {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}
.policy-wrapper {
  position: relative;
  text-align: left;
}
.policy-wrapper .product-avatar {
  position: absolute;
  top: 30px;
  right: 30px;
}
.policy-wrapper .policy-info {
  margin-bottom: 10px;
}
.policy-wrapper .policy-info .title {
  color: #fff;
}
.policy-wrapper .policy-info .title span {
  margin-left: 4px;
  font-size: 10px;
}
.policy-wrapper .product-img {
  width: 167px;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.policy-wrapper .product-img img {
  height: auto;
}
.policy-wrapper .duty-details {
  width: 270px;
  height: 100px;
}
.policy-wrapper .duty-details ul {
  padding-right: 10px;
}
.policy-wrapper .btn {
  padding: 0 4px;
  height: 18px;
  font-size: 10px;
}
/*待售产品详情*/
#addTags .modal-dialog {
  width: 600px;
}
#addTags .modal-body .title {
  color: #616161;
}
#addTags .modal-body .tips {
  float: right;
  color: #c8c8c8;
}
#addTags .modal-body .iconfont {
  display: none;
  vertical-align: text-bottom;
}
#addTags .selected-wrapper {
  margin: 10px 0;
  padding: 10px;
  width: 560px;
  height: 120px;
  border: 1px solid #ddd;
}
#addTags .selected-wrapper .selected {
  display: inline-block;
}
#addTags .selected-wrapper .custom {
  display: inline-block;
}
#addTags .selected-wrapper .custom input {
  padding: 0 4px;
}
#addTags .tags-classify label {
  margin-right: 20px;
}
#addTags .tags-classify select.form-control {
  display: inline-block;
  width: 116px;
  height: 30px;
  line-height: 30px;
  color: #00a2ff;
  box-shadow: none;
}
#addTags .tags-classify select.form-control option {
  background: none;
}
#addTags .modal-footer {
  text-align: right;
}
#addTags .tags-wrapper {
  margin-top: 20px;
}
#addTags .tag {
  cursor: pointer;
}
/*在售产品详情*/
#confrim .modal-dialog {
  width: 600px;
}
#confrim .cause-wapper {
  width: 440px;
  margin: 0 auto 45px;
  text-align: left;
  overflow: hidden;
}
#confrim .cause-wapper textarea {
  margin: 10px 0;
  padding: 0;
  height: 60px;
}
#confrim .cause-wapper .btn-primary {
  float: right;
  width: 80px;
}
/*个性化编辑*/
.upload-wrapper .upload .title {
  font-size: 14px;
  color: #fff;
}
.upload-wrapper .explain .title {
  font-size: 12px;
  color: #ffae00;
}
.upload-wrapper .explain-list {
  line-height: 20px;
}
.img-wrapper {
  margin: 10px 0;
  margin-right: -10px;
}
.img-wrapper li {
  display: inline-block;
  margin-right: 8px;
  width: 80px;
  height: 80px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
}
#preview .modal-dialog {
  transform: translate(-50%, -20%) !important;
  width: 540px;
}
.label-rank {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.rank-wrapper .ui-table-tr {
  line-height: 32px;
}
.rank-wrapper .ui-table-tr:first-child .label-rank {
  background: #d7bd0c;
}
.rank-wrapper .ui-table-tr:nth-child(2) .label-rank {
  background: #bcbcbc;
}
.rank-wrapper .ui-table-tr:nth-child(3) .label-rank {
  background: #d0800d;
}
.info {
  height: 640px;
  position: relative;
}
.info .operation {
  position: absolute;
  right: 0;
  bottom: 0;
}
.info .operation .btn {
  width: 208px;
}
.cause-select {
  height: 84px;
  margin: 10px 0;
  margin-left: -10px;
}
.cause-select ul {
  padding-right: 10px;
}
.cause-select li {
  display: inline-block;
  line-height: 26px;
  margin-left: 10px;
}
.cause-select .iconfont {
  cursor: pointer;
}
